### Projeto de Análise de Dados I
#### Atlas de Vulnerabilidade Social (AVS)
> "A plataforma oferece um panorama da vulnerabilidade e da exclusão social dos municípios e estados. Sua relevância vem justamente da capacidade de fornecer informações sobre a unidade político-administrativa mais próxima do cotidiano dos cidadãos, o município. Além disso, o AVS permite conhecer as desigualdades a nível intramunicipal das diversas espacialidades de uma mesma região metropolitana"

Os dados utilizados nesse estudo podem ser encontrados no link [Atlas de Vulnerabilidade Social](https://basedosdados.org/dataset/1dd6317a-8e79-4a67-bb78-bc5fef214b4d?table=8dce525d-07f9-4d52-8ea0-36fa288d7df8)

In [1]:
import pandas as pd

In [28]:
dados = pd.read_csv("dados_pb_municipios.csv")
dados

,ano,sigla_uf,id_municipio,raca_cor,sexo,localizacao,ivs,ivs_infraestrutura_urbana,ivs_capital_humano,ivs_renda_trabalho,...,populacao_15_24,populacao_16_18,populacao_18_mais,populacao_18_20,populacao_18_24,populacao_19_21,populacao_25_mais,populacao_65_mais,codigo,municipio
0,2000,PB,2500205,branco,total,total,0.588,0.303,0.657,0.803,...,686.0,255.0,2068.0,252.0,450.0,217.0,1618.0,342.0,2500205,Aguiar
1,2000,PB,2500205,branco,total,rural,NaN,NaN,0.629,0.842,...,436.0,170.0,1152.0,140.0,272.0,122.0,880.0,123.0,2500205,Aguiar
2,2000,PB,2500205,branco,total,urbano,0.525,0.299,0.698,0.578,...,250.0,85.0,916.0,111.0,178.0,95.0,738.0,219.0,2500205,Aguiar
3,2000,PB,2500205,total,total,total,0.602,0.309,0.671,0.826,...,1159.0,421.0,3327.0,376.0,725.0,335.0,2602.0,473.0,2500205,Aguiar
4,2000,PB,2500205,total,total,rural,NaN,NaN,0.683,0.848,...,780.0,285.0,1992.0,254.0,484.0,223.0,1508.0,174.0,2500205,Aguiar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12009,2000,PB,2517407,negro,mulher,urbano,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2517407,Zabelê
12010,2010,PB,2517407,branco,total,rural,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2517407,Zabelê
12011,2010,PB,2517407,branco,total,urbano,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2517407,Zabelê
12012,2010,PB,2517407,branco,mulher,rural,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2517407,Zabelê
12013,2010,PB,2517407,branco,mulher,urbano,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2517407,Zabelê

In [31]:
#soma dos dados nulos por coluna
dados.isnull().sum()

ano                     0
sigla_uf                0
id_municipio            0
raca_cor                0
sexo                    0
                     ...
populacao_19_21      1737
populacao_25_mais    1737
populacao_65_mais    1737
codigo                  0
municipio               0
Length: 92, dtype: int64

#### O merge deu certo
##### podemos limpar os dados e exclui colunas duplicadas

In [34]:
dados[["id_municipio", "codigo", "municipio"]].sample(20)

       id_municipio   codigo                       municipio
9104        2514800  2514800          São José dos Cordeiros
9220        2514008  2514008              São João do Cariri
8298        2515609  2515609                   Serra da Raiz
7169        2512804  2512804              Riacho dos Cavalos
547         2500809  2500809                         Araçagi
10070       2501153  2501153               Areia de Baraúnas
9453        2515104  2515104  São Sebastião de Lagoa de Roça
8745        2513927  2513927                    São Bentinho
5472        2509404  2509404                         Mogeiro
586         2500809  2500809                         Araçagi
2159        2503902  2503902                         Camalaú
9946        2505501  2505501                   Vista Serrana
5789        2510006  2510006                     Nazarezinho
5160        2509107  2509107                            Mari
7559        2513208  2513208                      Santa Cruz
6069        2510600  2510600                      Ouro Velho
2264        2504033  2504033                           Capim
4384        2507606  2507606                   Juarez Távora
5086        2508901  2508901                      Mamanguape
10546       2504850  2504850                        Coxixola

In [35]:
dados = dados.drop('codigo', axis=1)

#### id_municipio e municipio no inicio do df

In [41]:
colunas = dados.columns.tolist()

In [45]:
colunas = ['municipio'] + [coluna for coluna in colunas if coluna != 'municipio']
dados_pb = dados[colunas]

In [46]:
colunas = ['id_municipio'] + [coluna for coluna in colunas if coluna != 'id_municipio']
dados_pb = dados[colunas]
dados_pb

,id_municipio,municipio,ano,sigla_uf,raca_cor,sexo,localizacao,ivs,ivs_infraestrutura_urbana,ivs_capital_humano,...,populacao_15_mais,populacao_15_17,populacao_15_24,populacao_16_18,populacao_18_mais,populacao_18_20,populacao_18_24,populacao_19_21,populacao_25_mais,populacao_65_mais
0,2500205,Aguiar,2000,PB,branco,total,total,0.588,0.303,0.657,...,2304.0,236.0,686.0,255.0,2068.0,252.0,450.0,217.0,1618.0,342.0
1,2500205,Aguiar,2000,PB,branco,total,rural,NaN,NaN,0.629,...,1315.0,164.0,436.0,170.0,1152.0,140.0,272.0,122.0,880.0,123.0
2,2500205,Aguiar,2000,PB,branco,total,urbano,0.525,0.299,0.698,...,988.0,72.0,250.0,85.0,916.0,111.0,178.0,95.0,738.0,219.0
3,2500205,Aguiar,2000,PB,total,total,total,0.602,0.309,0.671,...,3761.0,434.0,1159.0,421.0,3327.0,376.0,725.0,335.0,2602.0,473.0
4,2500205,Aguiar,2000,PB,total,total,rural,NaN,NaN,0.683,...,2288.0,296.0,780.0,285.0,1992.0,254.0,484.0,223.0,1508.0,174.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12009,2517407,Zabelê,2000,PB,negro,mulher,urbano,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12010,2517407,Zabelê,2010,PB,branco,total,rural,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12011,2517407,Zabelê,2010,PB,branco,total,urbano,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12012,2517407,Zabelê,2010,PB,branco,mulher,rural,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12013,2517407,Zabelê,2010,PB,branco,mulher,urbano,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
dados_pb.to_csv("dados_pb_atualizados.csv", index= False)