### Projeto de Análise de Dados I
#### Atlas de Vulnerabilidade Social (AVS)
> "A plataforma oferece um panorama da vulnerabilidade e da exclusão social dos municípios e estados. Sua relevância vem justamente da capacidade de fornecer informações sobre a unidade político-administrativa mais próxima do cotidiano dos cidadãos, o município. Além disso, o AVS permite conhecer as desigualdades a nível intramunicipal das diversas espacialidades de uma mesma região metropolitana"

Os dados utilizados nesse estudo podem ser encontrados no link [Atlas de Vulnerabilidade Social](https://basedosdados.org/dataset/1dd6317a-8e79-4a67-bb78-bc5fef214b4d?table=8dce525d-07f9-4d52-8ea0-36fa288d7df8)

In [1]:
import pandas as pd

In [28]:
dados = pd.read_csv("dados_pb_municipios.csv")
dados

,ano,sigla_uf,id_municipio,raca_cor,sexo,localizacao,ivs,ivs_infraestrutura_urbana,ivs_capital_humano,ivs_renda_trabalho,...,populacao_15_24,populacao_16_18,populacao_18_mais,populacao_18_20,populacao_18_24,populacao_19_21,populacao_25_mais,populacao_65_mais,codigo,municipio
0,2000,PB,2500205,branco,total,total,0.588,0.303,0.657,0.803,...,686.0,255.0,2068.0,252.0,450.0,217.0,1618.0,342.0,2500205,Aguiar
1,2000,PB,2500205,branco,total,rural,NaN,NaN,0.629,0.842,...,436.0,170.0,1152.0,140.0,272.0,122.0,880.0,123.0,2500205,Aguiar
2,2000,PB,2500205,branco,total,urbano,0.525,0.299,0.698,0.578,...,250.0,85.0,916.0,111.0,178.0,95.0,738.0,219.0,2500205,Aguiar
3,2000,PB,2500205,total,total,total,0.602,0.309,0.671,0.826,...,1159.0,421.0,3327.0,376.0,725.0,335.0,2602.0,473.0,2500205,Aguiar
4,2000,PB,2500205,total,total,rural,NaN,NaN,0.683,0.848,...,780.0,285.0,1992.0,254.0,484.0,223.0,1508.0,174.0,2500205,Aguiar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12009,2000,PB,2517407,negro,mulher,urbano,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2517407,Zabelê
12010,2010,PB,2517407,branco,total,rural,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2517407,Zabelê
12011,2010,PB,2517407,branco,total,urbano,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2517407,Zabelê
12012,2010,PB,2517407,branco,mulher,rural,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2517407,Zabelê
12013,2010,PB,2517407,branco,mulher,urbano,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2517407,Zabelê

In [4]:
#soma dos dados nulos por coluna
dados_pb.isnull().sum()

ano                     0
sigla_uf                0
id_municipio            0
raca_cor                0
sexo                    0
                     ...
populacao_18_20      1737
populacao_18_24      1737
populacao_19_21      1737
populacao_25_mais    1737
populacao_65_mais    1737
Length: 90, dtype: int64

In [29]:
dados[dados.isnull().T.any()]

,ano,sigla_uf,id_municipio,raca_cor,sexo,localizacao,ivs,ivs_infraestrutura_urbana,ivs_capital_humano,ivs_renda_trabalho,...,populacao_15_24,populacao_16_18,populacao_18_mais,populacao_18_20,populacao_18_24,populacao_19_21,populacao_25_mais,populacao_65_mais,codigo,municipio
0,2000,PB,2500205,branco,total,total,0.588,0.303,0.657,0.803,...,686.0,255.0,2068.0,252.0,450.0,217.0,1618.0,342.0,2500205,Aguiar
1,2000,PB,2500205,branco,total,rural,NaN,NaN,0.629,0.842,...,436.0,170.0,1152.0,140.0,272.0,122.0,880.0,123.0,2500205,Aguiar
2,2000,PB,2500205,branco,total,urbano,0.525,0.299,0.698,0.578,...,250.0,85.0,916.0,111.0,178.0,95.0,738.0,219.0,2500205,Aguiar
3,2000,PB,2500205,total,total,total,0.602,0.309,0.671,0.826,...,1159.0,421.0,3327.0,376.0,725.0,335.0,2602.0,473.0,2500205,Aguiar
4,2000,PB,2500205,total,total,rural,NaN,NaN,0.683,0.848,...,780.0,285.0,1992.0,254.0,484.0,223.0,1508.0,174.0,2500205,Aguiar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12009,2000,PB,2517407,negro,mulher,urbano,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2517407,Zabelê
12010,2010,PB,2517407,branco,total,rural,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2517407,Zabelê
12011,2010,PB,2517407,branco,total,urbano,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2517407,Zabelê
12012,2010,PB,2517407,branco,mulher,rural,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2517407,Zabelê
12013,2010,PB,2517407,branco,mulher,urbano,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2517407,Zabelê

In [30]:
# linhas e colunas
dados.shape

(12014, 92)

In [14]:
dados_pb_notNull

,ano,sigla_uf,id_municipio,raca_cor,sexo,localizacao,ivs,ivs_infraestrutura_urbana,ivs_capital_humano,ivs_renda_trabalho,...,populacao_15_mais,populacao_15_17,populacao_15_24,populacao_16_18,populacao_18_mais,populacao_18_20,populacao_18_24,populacao_19_21,populacao_25_mais,populacao_65_mais
4914,2010,PB,2500205,branco,total,total,0.372,0.144,0.453,0.518,...,1643.0,123.0,376.0,112.0,1519.0,117.0,253.0,113.0,1267.0,271.0
4915,2010,PB,2500304,branco,total,total,0.485,0.385,0.477,0.592,...,5825.0,397.0,1362.0,358.0,5428.0,463.0,965.0,468.0,4463.0,1032.0
4916,2010,PB,2500403,branco,total,total,0.433,0.270,0.520,0.508,...,3964.0,297.0,941.0,298.0,3667.0,297.0,645.0,254.0,3022.0,578.0
4917,2010,PB,2500502,branco,total,total,0.441,0.290,0.543,0.491,...,2340.0,189.0,664.0,219.0,2151.0,253.0,476.0,205.0,1676.0,334.0
4918,2010,PB,2500536,branco,total,total,0.506,0.344,0.626,0.549,...,1530.0,148.0,367.0,127.0,1382.0,105.0,219.0,88.0,1163.0,253.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10265,2010,PB,2516904,negro,mulher,urbano,0.322,0.026,0.477,0.462,...,2222.0,129.0,503.0,118.0,2092.0,140.0,374.0,161.0,1719.0,357.0
10266,2010,PB,2517001,negro,mulher,urbano,0.501,0.286,0.562,0.656,...,980.0,75.0,288.0,113.0,905.0,128.0,212.0,105.0,693.0,155.0
10267,2010,PB,2505501,negro,mulher,urbano,0.383,0.029,0.552,0.568,...,262.0,28.0,77.0,23.0,235.0,32.0,49.0,25.0,185.0,21.0
10268,2010,PB,2517407,negro,mulher,urbano,0.313,0.003,0.415,0.520,...,311.0,24.0,63.0,25.0,287.0,17.0,39.0,19.0,248.0,41.0
10269,2010,PB,2500106,negro,mulher,urbano,0.295,0.059,0.426,0.398,...,845.0,80.0,196.0,58.0,765.0,62.0,116.0,84.0,649.0,105.0