### Projeto de Análise de Dados I
#### Atlas de Vulnerabilidade Social (AVS)
> "A plataforma oferece um panorama da vulnerabilidade e da exclusão social dos municípios e estados. Sua relevância vem justamente da capacidade de fornecer informações sobre a unidade político-administrativa mais próxima do cotidiano dos cidadãos, o município. Além disso, o AVS permite conhecer as desigualdades a nível intramunicipal das diversas espacialidades de uma mesma região metropolitana"

Os dados utilizados nesse estudo podem ser encontrados no link [Atlas de Vulnerabilidade Social](https://basedosdados.org/dataset/1dd6317a-8e79-4a67-bb78-bc5fef214b4d?table=8dce525d-07f9-4d52-8ea0-36fa288d7df8)

In [1]:
import basedosdados as bd

In [7]:
df = bd.read_table(dataset_id='br_ipea_avs',
table_id='municipio',
billing_project_id="aprendasql-415220")

Downloading: 100%|██████████| 319681/319681 [06:27<00:00, 825.43rows/s]

In [8]:
df

,ano,sigla_uf,id_municipio,raca_cor,sexo,localizacao,ivs,ivs_infraestrutura_urbana,ivs_capital_humano,ivs_renda_trabalho,...,populacao_15_mais,populacao_15_17,populacao_15_24,populacao_16_18,populacao_18_mais,populacao_18_20,populacao_18_24,populacao_19_21,populacao_25_mais,populacao_65_mais
0,2000,AC,1200013,branco,total,total,0.652,0.631,0.778,0.546,...,1135,111,314,92,1024,66,203,69,821,55
1,2000,AC,1200104,branco,total,total,0.538,0.412,0.727,0.473,...,2506,291,812,239,2215,196,521,200,1694,179
2,2000,AC,1200203,branco,total,total,0.620,0.613,0.720,0.527,...,13485,1619,5350,1963,11867,1875,3731,1641,8136,857
3,2000,AC,1200252,branco,total,total,0.594,0.596,0.631,0.556,...,1560,170,488,160,1389,129,318,109,1072,98
4,2000,AC,1200302,branco,total,total,0.799,0.795,0.897,0.704,...,6553,937,2573,833,5616,859,1637,817,3980,326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319676,2010,SP,3518701,negro,mulher,rural,NaN,NaN,NaN,NaN,...,9,0,0,0,9,0,0,0,9,0
319677,2010,SP,3531100,negro,mulher,rural,NaN,NaN,NaN,NaN,...,10,0,0,0,10,0,0,0,10,0
319678,2010,SP,3533403,negro,mulher,rural,NaN,NaN,NaN,NaN,...,21,0,11,0,21,0,11,0,10,0
319679,2010,SP,3502507,negro,mulher,rural,NaN,NaN,NaN,NaN,...,79,0,0,0,79,0,0,0,79,0
319680,2010,SP,3520400,negro,mulher,rural,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df.columns

Index(['ano', 'sigla_uf', 'id_municipio', 'raca_cor', 'sexo', 'localizacao',
       'ivs', 'ivs_infraestrutura_urbana', 'ivs_capital_humano',
       'ivs_renda_trabalho', 'idhm', 'idhm_l', 'idhm_e', 'idhm_r',
       'idhm_subescolaridade', 'idhm_subfrequencia', 'prosperidade_social',
       'proporcao_vulnerabilidade_socioeconomica', 'propocao_energia_eletrica',
       'proporcao_domicilio_densidade', 'proporcao_sem_agua_esgoto',
       'proporcao_sem_coleta', 'renda_per_capita', 'renda_media_18_mais',
       'proporcao_sem_renda_18_mais', 'renda_trabalho',
       'renda_per_capita_vulneravel', 'proporcao_vulneravel',
       'populacao_vulneravel_15_24', 'proporcao_vulneravel_dependente_idoso',
       'populacao_vulneravel_e_idoso', 'razao_dependencia',
       'fecundidade_total', 'taxa_envelhecimento', 'mortalidade_1_menos',
       'proporcao_mortalidade_5_menos', 'proporcao_crianca_fora_escola_0_5',
       'proporcao_escola_5_6', 'proporcao_crianca_fora_escola_6_14',
       'proporcao_maternidade_10_17', 'maternidade_crianca_15_menos',
       'proporcao_maternidade_fundamental_incompleto_crianca_15_menos',
       'proporcao_analfabetismo_15_mais', 'proporcao_analfabetismo_18_mais',
       'proporcao_analfabetismo_25_mais',
       'proporcao_responsavel_fundamental_incompleto',
       'proporcao_anos_finais_11_13', 'proporcao_fundamental_completo_15_17',
       'proporcao_fundamental_completo_18_mais',
       'proporcao_medio_completo_18_20', 'populacao_ocupada_trabalho',
       'proporcao_ocupado_fundamental_18_mais',
       'proporcao_ocupado_medio_18_mais', 'proporcao_ocupado_superior_18_mais',
       'proporcao_desocupado_15_24', 'proporcao_desocupado_18_mais',
       'proporcao_ocupados_informal_18_mais', 'proporcao_carteira_18_mais',
       'proporcao_sem_carteira_18_mais', 'proporcao_setor_publico_18_mais',
       'proporcao_empreendedor_18_mais', 'proporcao_empregador_18_mais',
       'proporcao_mercado_formal_18_mais', 'proporcao_atividade_10_14',
       'pea_10_mais', 'pea_10_14', 'pea_15_17', 'pea_18_mais',
       'expectativa_vida', 'indice_gini', 'populacao_0_1', 'populacao_1_3',
       'populacao_4', 'populacao_5', 'populacao_6', 'populacao_6_10',
       'populacao_6_17', 'populacao_11_13', 'populacao_11_14',
       'populacao_12_14', 'populacao_15_mais', 'populacao_15_17',
       'populacao_15_24', 'populacao_16_18', 'populacao_18_mais',
       'populacao_18_20', 'populacao_18_24', 'populacao_19_21',
       'populacao_25_mais', 'populacao_65_mais'],
      dtype='object')

In [10]:
df.info

<bound method DataFrame.info of          ano sigla_uf id_municipio raca_cor    sexo localizacao    ivs  \
0       2000       AC      1200013   branco   total       total  0.652
1       2000       AC      1200104   branco   total       total  0.538
2       2000       AC      1200203   branco   total       total  0.620
3       2000       AC      1200252   branco   total       total  0.594
4       2000       AC      1200302   branco   total       total  0.799
...      ...      ...          ...      ...     ...         ...    ...
319676  2010       SP      3518701    negro  mulher       rural    NaN
319677  2010       SP      3531100    negro  mulher       rural    NaN
319678  2010       SP      3533403    negro  mulher       rural    NaN
319679  2010       SP      3502507    negro  mulher       rural    NaN
319680  2010       SP      3520400    negro  mulher       rural    NaN

        ivs_infraestrutura_urbana  ivs_capital_humano  ivs_renda_trabalho  \
0                           0.631               0.778               0.546
1                           0.412               0.727               0.473
2                           0.613               0.720               0.527
3                           0.596               0.631               0.556
4                           0.795               0.897               0.704
...                           ...                 ...                 ...
319676                        NaN                 NaN                 NaN
319677                        NaN                 NaN                 NaN
319678                        NaN                 NaN                 NaN
319679                        NaN                 NaN                 NaN
319680                        NaN                 NaN                 NaN

        ...  populacao_15_mais  populacao_15_17  populacao_15_24  \
0       ...               1135              111              314
1       ...               2506              291              812
2       ...              13485             1619             5350
3       ...               1560              170              488
4       ...               6553              937             2573
...     ...                ...              ...              ...
319676  ...                  9                0                0
319677  ...                 10                0                0
319678  ...                 21                0               11
319679  ...                 79                0                0
319680  ...                  0                0                0

        populacao_16_18  populacao_18_mais  populacao_18_20 populacao_18_24  \
0                    92               1024               66             203
1                   239               2215              196             521
2                  1963              11867             1875            3731
3                   160               1389              129             318
4                   833               5616              859            1637
...                 ...                ...              ...             ...
319676                0                  9                0               0
319677                0                 10                0               0
319678                0                 21                0              11
319679                0                 79                0               0
319680                0                  0                0               0

        populacao_19_21  populacao_25_mais  populacao_65_mais
0                    69                821                 55
1                   200               1694                179
2                  1641               8136                857
3                   109               1072                 98
4                   817               3980                326
...                 ...                ...                ...
319676                0                  9                  0
319677                0                 10                  0
319678                0                 10                  0
319679                0                 79                  0
319680                0                  0                  0

[319681 rows x 90 columns]>

In [12]:
#soma dos dados nulos por coluna
df.isnull().sum()

ano                      0
sigla_uf                 0
id_municipio             0
raca_cor                 0
sexo                     0
                     ...
populacao_18_20      52090
populacao_18_24      52090
populacao_19_21      52090
populacao_25_mais    52090
populacao_65_mais    52090
Length: 90, dtype: int64

In [14]:
df[df.isnull().T.any()]

,ano,sigla_uf,id_municipio,raca_cor,sexo,localizacao,ivs,ivs_infraestrutura_urbana,ivs_capital_humano,ivs_renda_trabalho,...,populacao_15_mais,populacao_15_17,populacao_15_24,populacao_16_18,populacao_18_mais,populacao_18_20,populacao_18_24,populacao_19_21,populacao_25_mais,populacao_65_mais
0,2000,AC,1200013,branco,total,total,0.652,0.631,0.778,0.546,...,1135,111,314,92,1024,66,203,69,821,55
1,2000,AC,1200104,branco,total,total,0.538,0.412,0.727,0.473,...,2506,291,812,239,2215,196,521,200,1694,179
2,2000,AC,1200203,branco,total,total,0.620,0.613,0.720,0.527,...,13485,1619,5350,1963,11867,1875,3731,1641,8136,857
3,2000,AC,1200252,branco,total,total,0.594,0.596,0.631,0.556,...,1560,170,488,160,1389,129,318,109,1072,98
4,2000,AC,1200302,branco,total,total,0.799,0.795,0.897,0.704,...,6553,937,2573,833,5616,859,1637,817,3980,326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319676,2010,SP,3518701,negro,mulher,rural,NaN,NaN,NaN,NaN,...,9,0,0,0,9,0,0,0,9,0
319677,2010,SP,3531100,negro,mulher,rural,NaN,NaN,NaN,NaN,...,10,0,0,0,10,0,0,0,10,0
319678,2010,SP,3533403,negro,mulher,rural,NaN,NaN,NaN,NaN,...,21,0,11,0,21,0,11,0,10,0
319679,2010,SP,3502507,negro,mulher,rural,NaN,NaN,NaN,NaN,...,79,0,0,0,79,0,0,0,79,0
319680,2010,SP,3520400,negro,mulher,rural,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [17]:
# linhas e colunas
df.shape

(319681, 90)