### Projeto de Análise de Dados I
#### Atlas de Vulnerabilidade Social (AVS)
> "A plataforma oferece um panorama da vulnerabilidade e da exclusão social dos municípios e estados. Sua relevância vem justamente da capacidade de fornecer informações sobre a unidade político-administrativa mais próxima do cotidiano dos cidadãos, o município. Além disso, o AVS permite conhecer as desigualdades a nível intramunicipal das diversas espacialidades de uma mesma região metropolitana"

Os dados utilizados nesse estudo podem ser encontrados no link [Atlas de Vulnerabilidade Social](https://basedosdados.org/dataset/1dd6317a-8e79-4a67-bb78-bc5fef214b4d?table=8dce525d-07f9-4d52-8ea0-36fa288d7df8)

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv("../arquivo/Atlas_de_Vulnerabilidade_Social.csv")

In [14]:
dados_pb = dados[dados.sigla_uf == "PB"]

In [63]:
dados_pb.to_csv("dados_pb.csv", index= False)

In [17]:
dados_pb.info

<bound method DataFrame.info of          ano sigla_uf  id_municipio raca_cor    sexo localizacao    ivs  \
50276   2000       PB       2500205   branco   total       total  0.588
50277   2000       PB       2500304   branco   total       total  0.618
50278   2000       PB       2500403   branco   total       total  0.531
50279   2000       PB       2500502   branco   total       total  0.573
50280   2000       PB       2500536   branco   total       total  0.635
...      ...      ...           ...      ...     ...         ...    ...
318053  2000       PB       2514552   branco   homem      urbano    NaN
318054  2000       PB       2501807    total   homem       rural    NaN
318055  2000       PB       2501807    negro   homem       rural    NaN
318056  2000       PB       2501807   branco  mulher       rural    NaN
318057  2000       PB       2514552   branco  mulher      urbano    NaN

        ivs_infraestrutura_urbana  ivs_capital_humano  ivs_renda_trabalho  \
50276                       0.303               0.657               0.803
50277                       0.431               0.758               0.665
50278                       0.217               0.673               0.703
50279                       0.400               0.574               0.746
50280                       0.416               0.756               0.734
...                           ...                 ...                 ...
318053                      0.000                 NaN                 NaN
318054                        NaN                 NaN               0.597
318055                        NaN                 NaN               0.597
318056                        NaN                 NaN                 NaN
318057                      0.000                 NaN                 NaN

        ...  populacao_15_mais  populacao_15_17  populacao_15_24  \
50276   ...             2304.0            236.0            686.0
50277   ...             6834.0            807.0           2009.0
50278   ...             3972.0            475.0           1183.0
50279   ...             1596.0            153.0            424.0
50280   ...             1113.0            137.0            390.0
...     ...                ...              ...              ...
318053  ...                5.0              0.0              0.0
318054  ...               39.0              0.0              0.0
318055  ...               39.0              0.0              0.0
318056  ...               12.0              0.0              0.0
318057  ...                5.0              0.0              0.0

        populacao_16_18  populacao_18_mais  populacao_18_20 populacao_18_24  \
50276             255.0             2068.0            252.0           450.0
50277             786.0             6027.0            613.0          1202.0
50278             522.0             3498.0            331.0           708.0
50279             157.0             1443.0            120.0           271.0
50280             122.0              976.0            109.0           252.0
...                 ...                ...              ...             ...
318053              0.0                5.0              0.0             0.0
318054              0.0               39.0              0.0             0.0
318055              0.0               39.0              0.0             0.0
318056              0.0               12.0              0.0             0.0
318057              0.0                5.0              0.0             0.0

        populacao_19_21  populacao_25_mais  populacao_65_mais
50276             217.0             1618.0              342.0
50277             570.0             4825.0              897.0
50278             322.0             2790.0              565.0
50279             126.0             1172.0              252.0
50280             126.0              724.0              138.0
...                 ...                ...                ...
318053              0.0                5.0                0.0
318054              0.0               39.0                0.0
318055              0.0               39.0                0.0
318056              0.0               12.0                0.0
318057              0.0                5.0                0.0

[12014 rows x 90 columns]>

In [81]:
#soma dos dados nulos por coluna
dados_pb.isnull().sum()

ano                     0
sigla_uf                0
id_municipio            0
raca_cor                0
sexo                    0
                     ...
populacao_18_20      1737
populacao_18_24      1737
populacao_19_21      1737
populacao_25_mais    1737
populacao_65_mais    1737
Length: 90, dtype: int64

In [79]:
dados_pb[dados_pb.isnull().T.any()].ano

50276     2000
50277     2000
50278     2000
50279     2000
50280     2000
          ...
318053    2000
318054    2000
318055    2000
318056    2000
318057    2000
Name: ano, Length: 9629, dtype: int64

In [60]:
# linhas e colunas
dados_pb.shape

(12014, 90)

In [61]:
dados_pb_notNull = dados_pb.dropna()

In [62]:
dados_pb_notNull.isnull().sum()

ano                  0
sigla_uf             0
id_municipio         0
raca_cor             0
sexo                 0
                    ..
populacao_18_20      0
populacao_18_24      0
populacao_19_21      0
populacao_25_mais    0
populacao_65_mais    0
Length: 90, dtype: int64

In [130]:
dados_pb.ano.sample(20)

51917     2000
129339    2010
54311     2000
289089    2010
52122     2000
131305    2010
288998    2010
53705     2000
54970     2000
129267    2010
129442    2010
130228    2010
130838    2010
131476    2010
129288    2010
50389     2000
129143    2010
128440    2010
129211    2010
51965     2000
Name: ano, dtype: int64

In [64]:
dados_pb_notNull.columns

Index(['ano', 'sigla_uf', 'id_municipio', 'raca_cor', 'sexo', 'localizacao',
       'ivs', 'ivs_infraestrutura_urbana', 'ivs_capital_humano',
       'ivs_renda_trabalho', 'idhm', 'idhm_l', 'idhm_e', 'idhm_r',
       'idhm_subescolaridade', 'idhm_subfrequencia', 'prosperidade_social',
       'proporcao_vulnerabilidade_socioeconomica', 'propocao_energia_eletrica',
       'proporcao_domicilio_densidade', 'proporcao_sem_agua_esgoto',
       'proporcao_sem_coleta', 'renda_per_capita', 'renda_media_18_mais',
       'proporcao_sem_renda_18_mais', 'renda_trabalho',
       'renda_per_capita_vulneravel', 'proporcao_vulneravel',
       'populacao_vulneravel_15_24', 'proporcao_vulneravel_dependente_idoso',
       'populacao_vulneravel_e_idoso', 'razao_dependencia',
       'fecundidade_total', 'taxa_envelhecimento', 'mortalidade_1_menos',
       'proporcao_mortalidade_5_menos', 'proporcao_crianca_fora_escola_0_5',
       'proporcao_escola_5_6', 'proporcao_crianca_fora_escola_6_14',
       'proporcao_maternidade_10_17', 'maternidade_crianca_15_menos',
       'proporcao_maternidade_fundamental_incompleto_crianca_15_menos',
       'proporcao_analfabetismo_15_mais', 'proporcao_analfabetismo_18_mais',
       'proporcao_analfabetismo_25_mais',
       'proporcao_responsavel_fundamental_incompleto',
       'proporcao_anos_finais_11_13', 'proporcao_fundamental_completo_15_17',
       'proporcao_fundamental_completo_18_mais',
       'proporcao_medio_completo_18_20', 'populacao_ocupada_trabalho',
       'proporcao_ocupado_fundamental_18_mais',
       'proporcao_ocupado_medio_18_mais', 'proporcao_ocupado_superior_18_mais',
       'proporcao_desocupado_15_24', 'proporcao_desocupado_18_mais',
       'proporcao_ocupados_informal_18_mais', 'proporcao_carteira_18_mais',
       'proporcao_sem_carteira_18_mais', 'proporcao_setor_publico_18_mais',
       'proporcao_empreendedor_18_mais', 'proporcao_empregador_18_mais',
       'proporcao_mercado_formal_18_mais', 'proporcao_atividade_10_14',
       'pea_10_mais', 'pea_10_14', 'pea_15_17', 'pea_18_mais',
       'expectativa_vida', 'indice_gini', 'populacao_0_1', 'populacao_1_3',
       'populacao_4', 'populacao_5', 'populacao_6', 'populacao_6_10',
       'populacao_6_17', 'populacao_11_13', 'populacao_11_14',
       'populacao_12_14', 'populacao_15_mais', 'populacao_15_17',
       'populacao_15_24', 'populacao_16_18', 'populacao_18_mais',
       'populacao_18_20', 'populacao_18_24', 'populacao_19_21',
       'populacao_25_mais', 'populacao_65_mais'],
      dtype='object')