### Projeto de Análise de Dados I
#### Atlas de Vulnerabilidade Social (AVS)
> "A plataforma oferece um panorama da vulnerabilidade e da exclusão social dos municípios e estados. Sua relevância vem justamente da capacidade de fornecer informações sobre a unidade político-administrativa mais próxima do cotidiano dos cidadãos, o município. Além disso, o AVS permite conhecer as desigualdades a nível intramunicipal das diversas espacialidades de uma mesma região metropolitana"

Os dados utilizados nesse estudo podem ser encontrados no link [Atlas de Vulnerabilidade Social](https://basedosdados.org/dataset/1dd6317a-8e79-4a67-bb78-bc5fef214b4d?table=8dce525d-07f9-4d52-8ea0-36fa288d7df8)

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv("../arquivo/Atlas_de_Vulnerabilidade_Social.csv")

In [3]:
dados

,ano,sigla_uf,id_municipio,raca_cor,sexo,localizacao,ivs,ivs_infraestrutura_urbana,ivs_capital_humano,ivs_renda_trabalho,...,populacao_15_mais,populacao_15_17,populacao_15_24,populacao_16_18,populacao_18_mais,populacao_18_20,populacao_18_24,populacao_19_21,populacao_25_mais,populacao_65_mais
0,2000,AC,1200013,branco,total,total,0.652,0.631,0.778,0.546,...,1135.0,111.0,314.0,92.0,1024.0,66.0,203.0,69.0,821.0,55.0
1,2000,AC,1200104,branco,total,total,0.538,0.412,0.727,0.473,...,2506.0,291.0,812.0,239.0,2215.0,196.0,521.0,200.0,1694.0,179.0
2,2000,AC,1200203,branco,total,total,0.620,0.613,0.720,0.527,...,13485.0,1619.0,5350.0,1963.0,11867.0,1875.0,3731.0,1641.0,8136.0,857.0
3,2000,AC,1200252,branco,total,total,0.594,0.596,0.631,0.556,...,1560.0,170.0,488.0,160.0,1389.0,129.0,318.0,109.0,1072.0,98.0
4,2000,AC,1200302,branco,total,total,0.799,0.795,0.897,0.704,...,6553.0,937.0,2573.0,833.0,5616.0,859.0,1637.0,817.0,3980.0,326.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319676,2000,SP,3549904,total,total,total,0.005,0.000,0.016,0.000,...,144.0,11.0,41.0,12.0,132.0,12.0,29.0,14.0,103.0,7.0
319677,2000,SP,3549904,total,total,total,0.007,0.000,0.022,0.000,...,249.0,23.0,66.0,23.0,226.0,17.0,43.0,16.0,183.0,9.0
319678,2000,SP,3554102,total,total,total,0.010,0.000,0.029,0.000,...,241.0,22.0,62.0,20.0,219.0,18.0,40.0,19.0,178.0,21.0
319679,2000,SP,3554805,total,total,total,0.003,0.000,0.010,0.000,...,117.0,14.0,41.0,15.0,102.0,13.0,27.0,13.0,75.0,6.0
319680,2000,SP,3555406,total,total,total,0.008,0.000,0.023,0.000,...,228.0,25.0,60.0,25.0,203.0,13.0,36.0,14.0,168.0,16.0

In [4]:
dados.columns

Index(['ano', 'sigla_uf', 'id_municipio', 'raca_cor', 'sexo', 'localizacao',
       'ivs', 'ivs_infraestrutura_urbana', 'ivs_capital_humano',
       'ivs_renda_trabalho', 'idhm', 'idhm_l', 'idhm_e', 'idhm_r',
       'idhm_subescolaridade', 'idhm_subfrequencia', 'prosperidade_social',
       'proporcao_vulnerabilidade_socioeconomica', 'propocao_energia_eletrica',
       'proporcao_domicilio_densidade', 'proporcao_sem_agua_esgoto',
       'proporcao_sem_coleta', 'renda_per_capita', 'renda_media_18_mais',
       'proporcao_sem_renda_18_mais', 'renda_trabalho',
       'renda_per_capita_vulneravel', 'proporcao_vulneravel',
       'populacao_vulneravel_15_24', 'proporcao_vulneravel_dependente_idoso',
       'populacao_vulneravel_e_idoso', 'razao_dependencia',
       'fecundidade_total', 'taxa_envelhecimento', 'mortalidade_1_menos',
       'proporcao_mortalidade_5_menos', 'proporcao_crianca_fora_escola_0_5',
       'proporcao_escola_5_6', 'proporcao_crianca_fora_escola_6_14',
       'proporcao_maternidade_10_17', 'maternidade_crianca_15_menos',
       'proporcao_maternidade_fundamental_incompleto_crianca_15_menos',
       'proporcao_analfabetismo_15_mais', 'proporcao_analfabetismo_18_mais',
       'proporcao_analfabetismo_25_mais',
       'proporcao_responsavel_fundamental_incompleto',
       'proporcao_anos_finais_11_13', 'proporcao_fundamental_completo_15_17',
       'proporcao_fundamental_completo_18_mais',
       'proporcao_medio_completo_18_20', 'populacao_ocupada_trabalho',
       'proporcao_ocupado_fundamental_18_mais',
       'proporcao_ocupado_medio_18_mais', 'proporcao_ocupado_superior_18_mais',
       'proporcao_desocupado_15_24', 'proporcao_desocupado_18_mais',
       'proporcao_ocupados_informal_18_mais', 'proporcao_carteira_18_mais',
       'proporcao_sem_carteira_18_mais', 'proporcao_setor_publico_18_mais',
       'proporcao_empreendedor_18_mais', 'proporcao_empregador_18_mais',
       'proporcao_mercado_formal_18_mais', 'proporcao_atividade_10_14',
       'pea_10_mais', 'pea_10_14', 'pea_15_17', 'pea_18_mais',
       'expectativa_vida', 'indice_gini', 'populacao_0_1', 'populacao_1_3',
       'populacao_4', 'populacao_5', 'populacao_6', 'populacao_6_10',
       'populacao_6_17', 'populacao_11_13', 'populacao_11_14',
       'populacao_12_14', 'populacao_15_mais', 'populacao_15_17',
       'populacao_15_24', 'populacao_16_18', 'populacao_18_mais',
       'populacao_18_20', 'populacao_18_24', 'populacao_19_21',
       'populacao_25_mais', 'populacao_65_mais'],
      dtype='object')

In [5]:
dados.info

<bound method DataFrame.info of          ano sigla_uf  id_municipio raca_cor   sexo localizacao    ivs  \
0       2000       AC       1200013   branco  total       total  0.652
1       2000       AC       1200104   branco  total       total  0.538
2       2000       AC       1200203   branco  total       total  0.620
3       2000       AC       1200252   branco  total       total  0.594
4       2000       AC       1200302   branco  total       total  0.799
...      ...      ...           ...      ...    ...         ...    ...
319676  2000       SP       3549904    total  total       total  0.005
319677  2000       SP       3549904    total  total       total  0.007
319678  2000       SP       3554102    total  total       total  0.010
319679  2000       SP       3554805    total  total       total  0.003
319680  2000       SP       3555406    total  total       total  0.008

        ivs_infraestrutura_urbana  ivs_capital_humano  ivs_renda_trabalho  \
0                           0.631               0.778               0.546
1                           0.412               0.727               0.473
2                           0.613               0.720               0.527
3                           0.596               0.631               0.556
4                           0.795               0.897               0.704
...                           ...                 ...                 ...
319676                      0.000               0.016               0.000
319677                      0.000               0.022               0.000
319678                      0.000               0.029               0.000
319679                      0.000               0.010               0.000
319680                      0.000               0.023               0.000

        ...  populacao_15_mais  populacao_15_17  populacao_15_24  \
0       ...             1135.0            111.0            314.0
1       ...             2506.0            291.0            812.0
2       ...            13485.0           1619.0           5350.0
3       ...             1560.0            170.0            488.0
4       ...             6553.0            937.0           2573.0
...     ...                ...              ...              ...
319676  ...              144.0             11.0             41.0
319677  ...              249.0             23.0             66.0
319678  ...              241.0             22.0             62.0
319679  ...              117.0             14.0             41.0
319680  ...              228.0             25.0             60.0

        populacao_16_18  populacao_18_mais  populacao_18_20 populacao_18_24  \
0                  92.0             1024.0             66.0           203.0
1                 239.0             2215.0            196.0           521.0
2                1963.0            11867.0           1875.0          3731.0
3                 160.0             1389.0            129.0           318.0
4                 833.0             5616.0            859.0          1637.0
...                 ...                ...              ...             ...
319676             12.0              132.0             12.0            29.0
319677             23.0              226.0             17.0            43.0
319678             20.0              219.0             18.0            40.0
319679             15.0              102.0             13.0            27.0
319680             25.0              203.0             13.0            36.0

        populacao_19_21  populacao_25_mais  populacao_65_mais
0                  69.0              821.0               55.0
1                 200.0             1694.0              179.0
2                1641.0             8136.0              857.0
3                 109.0             1072.0               98.0
4                 817.0             3980.0              326.0
...                 ...                ...                ...
319676             14.0              103.0                7.0
319677             16.0              183.0                9.0
319678             19.0              178.0               21.0
319679             13.0               75.0                6.0
319680             14.0              168.0               16.0

[319681 rows x 90 columns]>

In [6]:
#soma dos dados nulos por coluna
dados.isnull().sum()

ano                      0
sigla_uf                 0
id_municipio             0
raca_cor                 0
sexo                     0
                     ...
populacao_18_20      52090
populacao_18_24      52090
populacao_19_21      52090
populacao_25_mais    52090
populacao_65_mais    52090
Length: 90, dtype: int64

In [8]:
dados[dados.isnull().T.any()]

,ano,sigla_uf,id_municipio,raca_cor,sexo,localizacao,ivs,ivs_infraestrutura_urbana,ivs_capital_humano,ivs_renda_trabalho,...,populacao_15_mais,populacao_15_17,populacao_15_24,populacao_16_18,populacao_18_mais,populacao_18_20,populacao_18_24,populacao_19_21,populacao_25_mais,populacao_65_mais
0,2000,AC,1200013,branco,total,total,0.652,0.631,0.778,0.546,...,1135.0,111.0,314.0,92.0,1024.0,66.0,203.0,69.0,821.0,55.0
1,2000,AC,1200104,branco,total,total,0.538,0.412,0.727,0.473,...,2506.0,291.0,812.0,239.0,2215.0,196.0,521.0,200.0,1694.0,179.0
2,2000,AC,1200203,branco,total,total,0.620,0.613,0.720,0.527,...,13485.0,1619.0,5350.0,1963.0,11867.0,1875.0,3731.0,1641.0,8136.0,857.0
3,2000,AC,1200252,branco,total,total,0.594,0.596,0.631,0.556,...,1560.0,170.0,488.0,160.0,1389.0,129.0,318.0,109.0,1072.0,98.0
4,2000,AC,1200302,branco,total,total,0.799,0.795,0.897,0.704,...,6553.0,937.0,2573.0,833.0,5616.0,859.0,1637.0,817.0,3980.0,326.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319676,2000,SP,3549904,total,total,total,0.005,0.000,0.016,0.000,...,144.0,11.0,41.0,12.0,132.0,12.0,29.0,14.0,103.0,7.0
319677,2000,SP,3549904,total,total,total,0.007,0.000,0.022,0.000,...,249.0,23.0,66.0,23.0,226.0,17.0,43.0,16.0,183.0,9.0
319678,2000,SP,3554102,total,total,total,0.010,0.000,0.029,0.000,...,241.0,22.0,62.0,20.0,219.0,18.0,40.0,19.0,178.0,21.0
319679,2000,SP,3554805,total,total,total,0.003,0.000,0.010,0.000,...,117.0,14.0,41.0,15.0,102.0,13.0,27.0,13.0,75.0,6.0
319680,2000,SP,3555406,total,total,total,0.008,0.000,0.023,0.000,...,228.0,25.0,60.0,25.0,203.0,13.0,36.0,14.0,168.0,16.0

In [9]:
# linhas e colunas
dados.shape

(319681, 90)